<!DOCTYPE html>
<html>

<head>
    <title>Google Map Example</title>
    <style>
        #map {
            height: 500px;
            width: 100%;
        }
    </style>
</head>

<body>

    <div>
        <label for="address">Search Latitude & Longitude:</label>
        <br>
        <input type="text" id="address" placeholder="Enter address or coordinates">
        <br>
        <button onclick="searchLocation()">Search</button>
    </div>

    <p id="lat-lan"></p>
    <p id="coordinates"></p>

    <h2>My Google Map</h2>
    <div id="map"></div>
    
    <script>
        let map;
        let directionsService;
        let directionsRenderer;

        function searchLocation() {
            const address = document.getElementById("address").value;
            fetch("/navigation/waypoint/intersection/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    address: address
                })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success && data.intersection_points) {
                        console.log("Intersection Points: ", data);
                        document.getElementById("coordinates").innerText = `Intersection Points: ${data.intersection_points.formatted_address}`;
                        const lat = data.intersection_points.lat;
                        const lng = data.intersection_points.lng;
                        updateMap(lat, lng);
                    } else {
                        alert("Location not found");
                    }
                })
                .catch(error => {
                    console.error(error);
                });
        }

        function updateMap(lat, lng) {
            document.getElementById("lat-lan").innerText = `${lat},${lng}`;
            const position = {
                lat: parseFloat(lat),
                lng: parseFloat(lng)
            };
            console.log(position);
            map = new google.maps.Map(document.getElementById("map"), {
                zoom: 10,
                center: position
            });
            directionsService = new google.maps.DirectionsService();
            directionsRenderer = new google.maps.DirectionsRenderer({
                map: map
            });

            new google.maps.Marker({
                position: position,
                map: map,
                title: "Searched Location"
            });
        }


        document.getElementById("lat-lan").addEventListener("click", function() {
            const text = this.innerText;
            navigator.clipboard.writeText(text)
                .then(() => {
                    console.log("Copied: " + text);
                })
                .catch(err => {
                    console.error("Failed to copy: ", err);
                });
        });
    </script>

    <!-- Replace YOUR_API_KEY -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZiZJG8xOhpqNXNhntx1gAxUl0QNK5NyY&callback=initMap"> </script>

</body>

</html>