<!DOCTYPE html>
<html>

<head>
    <title>Permit Route - Google Map</title>
    <style>
        #map {
            height: 500px;
            width: 100%;
        }
    </style>
</head>

<body>

    <div>
        <label for="address">Search Latitude & Longitude:</label>
        <br>
        <input type="text" id="address" placeholder="Enter address or coordinates">
        <br>
        <button onclick="searchLocation()">Search</button>
    </div>

    <p id="lat-lan"></p>
    <p id="coordinates"></p>

    <h2>My Google Map</h2>
    <div id="map"></div>
    
    <script>
        let map;
        let directionsService;
        let directionsRenderer;

        function searchLocation() {
            const address = document.getElementById("address").value;
            fetch("/navigation/create-permit-route/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    address: address
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success && data.data) {
                    // console.log("Waypoints: ", data.data); // ---- IGNORE ---
                    document.getElementById("coordinates").innerText = `Waypoints: ${data.data.waypoints.length}`;
                    directionMap(data.data);
                } else {
                    alert("Waypoints not found");
                }
            })
            .catch(error => {
                console.log(error);
            });
        }

        function directionMap(data) {
            const origin = data.start_location;
            const destination = data.end_location;
            const intermediateWaypoints = data.waypoints.map(point => ({
                location: point,
                stopover: false
            }));
            // console.log("intermediateWaypoints: ", intermediateWaypoints);
            map = new google.maps.Map(document.getElementById("map"), {
                zoom: 10,
                center: origin
            });
            directionsService = new google.maps.DirectionsService();
            directionsRenderer = new google.maps.DirectionsRenderer({
                map: map
            });

            directionsService.route({
                origin: origin,
                destination: destination,
                waypoints: intermediateWaypoints,
                travelMode: google.maps.TravelMode.DRIVING,
                // optimizeWaypoints: true
            }, (response, status) => {
                if (status === google.maps.DirectionsStatus.OK) {
                    directionsRenderer.setDirections(response);
                } else {
                    alert("Directions request failed due to " + status);
                }
            });
        }

        document.getElementById("lat-lan").addEventListener("click", function() {
            const text = this.innerText;
            navigator.clipboard.writeText(text)
                .then(() => {
                    console.log("Copied: " + text);
                })
                .catch(err => {
                    console.error("Failed to copy: ", err);
                });
        });
    </script>

    <!-- Replace YOUR_API_KEY -->
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZiZJG8xOhpqNXNhntx1gAxUl0QNK5NyY&callback=initMap">
        </script>

</body>

</html>